@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-bebas: var(--font-bebas-neue), "Bebas Neue", ui-sans-serif, sans-serif;

  --color-background: #0b0b0b;
  --color-foreground: #ffffff;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

* {
  -webkit-font-smoothing: antialiased;
}
